/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

// default html elements
html, body {
	min-height: 100hv !important;
	height:auto;
	margin: 0;
	padding: 0;    
	vertical-align: baseline;
	background:  url('assets/images/fond2.jpg')  no-repeat ;
	background-size: cover;
}

h1{
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-family: Verdana;
	font-style: italic;
	font-size: 50px;
	color: rgb(77, 77, 77);
}

h2{
	margin: 0px;
	padding: 10px;
	text-align: left;
	font-family: Verdana;
	font-style: italic;
	font-size: larger;
	color: rgb(77, 77, 77);
}

p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
	line-height: 25px;
    vertical-align: baseline;
	background: transparent;
}

li {
	list-style: none;
}

ul {
	padding : 0px;
	margin : 0px;
}

button,.button-link{
	text-decoration: none;
	background-color: rgb(248, 237, 237);
	border-radius: 3px;
	border: none;
	color: rgb(77, 77, 77);
	padding: 5px 15px;
	margin: 5px;
	vertical-align:middle;
}


button:hover,.button-link:hover{
	background-color: rgb(234, 218, 200);
	color: rgb(77, 77, 77);
}

button:disabled{
	background-color: rgb(242, 242, 242);
	color: grey;

}

// transverse app container
.app {
	background-color : transparent;
	width : 80%;
    margin: auto;
    min-height: 100vh;
}

.navbar-offset{
    height:50px;
}

.section{
	background-color: white;
	padding: 10px 2.5%;
	border-radius: 10px;
	width: 100%;
	margin-top: 20px;
}

.section-grid{
	display: flex;
	justify-content: flex-start;
	gap: 100px;
}

//other
.info-container{
	margin: 10px 10px 20px 10px;
	vertical-align: top;
	text-align: left;
	font-family: Verdana;
	font-size: medium;
	color: rgb(77, 77, 77);
	border-radius: 5px;
	padding: 0px 10px 20px 10px;
	border: solid 1px transparent;
}

.info-container:hover{
	//background-color: rgb(248, 237, 237);
	//box-shadow: 1px 1px 1px grey;
	border: solid 1px lightgrey;
}

.info-container span{
	display: block;
}

.container-grid{
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

.container-label{
	font-weight: bold;
}

.error{
	background-color: pink;
	color:red;
}

//tables
.mat-table {
	background-color:transparent!important;  
  }
  
  table {
	  margin: 10px 0px 10px 0px;
	width: 100%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden !important;
  }
  
  .mat-header-row {
	  background-color: rgb(234, 218, 200);
  }
  
  .mat-header-cell {
	  font-weight: bold;
	  font-size: 15px;
  }
  
  .mat-row {
	  background-color: rgb(248, 237, 237);
  }
  
  .select-table .mat-row .mat-cell {
	  border-bottom: 2px solid transparent;
	  border-top: 2px solid transparent;
	  cursor: pointer;
	}
	
	.select-table .mat-row:hover .mat-cell {
	  border-color: currentColor;
	  background-color: rgba(247, 244, 244, 0.5);
	}
	
	.select-table .demo-row-is-clicked {
	  font-weight: bold;
	  background-color: rgba(247, 244, 244, 0.5);
	}
  