<div class="section section-grid">
    <div class="info-container">
        <h2>Informations</h2>
        <div class="container-grid">
            <div class="container-label">
                <p>
                    <span>Nom de l'établissement : </span>
                    <span>Type : </span>
                    <span>Nombre d'employés : </span>
                    <span>Nombre de chevaux : </span>
                </p>
            </div>
            <div>
                <p>
                    <span>Mon établissement</span>
                    <span>Performance</span>
                    <span>3</span>
                    <span>6</span>
                </p>
            </div>
        </div>
    </div>
</div>