<div class="section section-grid">
    <div class="info-container">
        <h2>Tour en cours</h2>
        <div class="container-grid">
            <div class="container-label">
                <p>
                    <span>Semaine : </span>
                    <span>Mois : </span>
                    <span>Année : </span>
                    <span>Clé technique : </span>
                </p>
            </div>
            <div>
                <p>
                    <span>{{tourActif?.semaineMois}}</span>
                    <span>{{tourActif?.mois}} ({{tourActif?.numeroMois}})</span>
                    <span>{{tourActif?.annee}}</span>
                    <span>{{tourActif?.cle}}</span>
                </p>
            </div>
        </div>
        <a class="button-link" routerLink="/admin/tourSuivant" routerLinkActive="active">Fin de tour</a>
    </div>
    <div class="info-container">
        <h2>Ecran de test</h2>
        <div>
            <p>
                <span>Test en cours :</span>
                <span>Générateur de transaction</span>
            </p>
        </div>

        <a class="button-link" routerLink="/admin/preview" routerLinkActive="active">Test</a>
    </div>
</div>