<div class="section section-grid">
    <div class="info-container">
        <h2>Informations</h2>
        <div class="container-grid">
            <div class="container-label">
                <p>
                    <span>Nom de la franchise : </span>
                    <span>Compte : </span>
                </p>
            </div>
            <div>
                <p>
                    <span>{{franchise?.nom}}</span>
                    <span>{{franchise?.argent}} $</span>
                </p>
            </div>
        </div>
		<button [disabled]="true"><mat-icon>attach_money</mat-icon>Finances</button>
    </div>
</div>
