<div class="navbar">
    <div class="navbar-section">
        <ul class="navbar-ul">
            <li class="navbar-button">
                <a class="navbar-link" routerLink="franchise" routerLinkActive="active">Franchise</a>
            </li>
        </ul>
    </div>
    <div class="navbar-section">
        <ul class="navbar-ul">
            <li class="navbar-button">
                <a class="navbar-link" routerLink="creerFranchise" routerLinkActive="active">Créer une franchise</a>
            </li>
            <li class="navbar-button">
                <a class="navbar-link" routerLink="franchise" routerLinkActive="active">Connexion</a>
            </li>
        </ul>
    </div>
</div>