<div class="navbar">
    <div class="navbar-section">
        <ul class="navbar-ul">
            <li class="navbar-button">
                <a class="navbar-link" routerLink="franchise" routerLinkActive="active">Franchise</a>
            </li>
        </ul>
    </div>
    <div class="navbar-section">
        <ul class="navbar-ul">
            <li class="navbar-button">
                <a class="navbar-link" routerLink="admin/dashboard" routerLinkActive="active">Dashboard admin</a>
            </li>
            <li class="navbar-button">
                <a class="navbar-link" routerLink="creerFranchise" routerLinkActive="active">Créer une franchise</a>
            </li>
            <li class="navbar-button" *ngIf="!isLoggedIn">
                <a class="navbar-link" routerLink="login" routerLinkActive="active">Connexion</a>
            </li>
            <span class="navbar-link" *ngIf="isLoggedIn" (click)="logout()">Déconnexion</span>
        </ul>
    </div>
</div>